flask
flask-cors
flask-limiter
werkzeug
pandas
numpy
scikit-learn
scipy
joblib
xgboost
lightgbm
matplotlib
seaborn
plotly
boto3
botocore
python-dotenv
sdv==1.21.0
sdmetrics
copulas
ctgan
requests
urllib3
certifi
charset-normalizer
openpyxl
xlrd
pyinstaller
pywin32
gunicorn
python-dateutil
psutil
imbalanced-learn
category-encoders
pytz
Faker
cloudpickle
tqdm
networkx
graphviz
rdt
deepecho
torch
jmespath
s3transfer