flask
flask-cors
werkzeug

pandas
numpy
scikit-learn
scipy
joblib

xgboost
lightgbm

matplotlib
seaborn
plotly

boto3
botocore

python-dotenv

sdv==1.21.0
sdmetrics
copulas
ctgan

requests
urllib3
certifi
charset-normalizer

openpyxl
xlrd

pyinstaller

pywin32; sys_platform == "win32"
